<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo xử lý lỗi trong Golang</title>
</head>
<body>
  <ul>
    <li><a href="/error">Generic Error: lỗi chung chung</a></li>
    <li><a href="/login">Lỗi UnAuthorize</a></li>
    <li><a href="/apierror">Lỗi khi gọi REST API</a></li>
    <li><a href="/dividezero">Lỗi bad request</a></li>
    <li><a href="/posts">Lỗi khi gọi nhiều tầng package</a></li>
    <li><a href="/notfound">Truy cập một đường dẫn không tồn tại</a></li>
    <li><a href="/page">Giả lập cách render giống Iris</a></li>
  </ul>
</body>
</html>